#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "snweb"
name = "Standard Notes"
description.en = "End-to-end encrypted note-taking app"
description.fr = "Application de prise de notes chiffrées"

version = "3.201.1~ynh1"

maintainers = ["Fabian Wilkens"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://standardnotes.org/"
demo = "https://standardnotes.org/demo"
admindoc = "https://docs.standardnotes.org/"
userdoc = "https://standardnotes.org/help"
code = "https://github.com/standardnotes/app"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "3600M"
ram.build = "1500M"
ram.runtime = "1500M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    help.en = "You can use extensions only without a path URL."
    type = "path"
    default = "/"

    [install.init_main_permission]
    help.en = "A public application means that anyone can access this site."
    type = "group"
    default = "visitors"

    [install.snserver_domain]
    ask.en = "Choose the default Standard Notes Syncing Server"
    ask.de = "Wähle den Standard Notes Syncing Server"
    type = "string"
    default = "api.standardnotes.com"

[resources]
    [resources.sources.main]
    url = "https://github.com/standardnotes/app/archive/refs/tags/@standardnotes/web@3.201.1.tar.gz"
    sha256 = "cfef76cc5e13ceb0611bbca70201d65f1d7b2f1c59a0198c0126363fff764d10"

    autoupdate.strategy = "latest_github_tag"
    autoupdate.version_regex = "^@standardnotes/web@(.*)$"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = []

    [resources.apt.extras.yarn]
    repo = "deb https://dl.yarnpkg.com/debian/ stable main"
    key = "https://dl.yarnpkg.com/debian/pubkey.gpg"
    packages = ["yarn"]

    [resources.nodejs]
    version = "22"