RAILS_ENV=production
PORT=__PORT__

DEFAULT_SYNC_SERVER=https://__SNSERVER_DOMAIN__/

# Subscription related endpoints
DASHBOARD_URL=http://standardnotes.com/dashboard
PLANS_URL=https://standardnotes.com/plans
PURCHASE_URL=https://standardnotes.com/purchase

# Used by Rails internals and not Standard Notes related
SECRET_KEY_BASE=__SECRET_KEY_BASE__

# Sub-URI
RAILS_RELATIVE_URL_ROOT=__PATH__/
