
# Rails Settings
RAILS_ENV=__RAILS_ENV__
EXPOSED_PORT=__EXPOSED_PORT__
SECRET_KEY_BASE=__SECRET_KEY__
RAILS_SERVE_STATIC_FILES=true

# Extensions Settings
EXTENSIONS_MANAGER_LOCATION=__EXTENSIONS_MANAGER_LOCATION__
BATCH_MANAGER_LOCATION=__BATCH_MANAGER_LOCATION__

SF_DEFAULT_SERVER=__SF_DEFAULT_SERVER__
